@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Fira Sans', 'Roboto', 'Open Sans', 'Noto Sans', 'Arial',
    'Tahoma', 'Verdana', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  word-break: break-word;
  margin: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  padding-bottom: 4rem;
}

.form {
  padding: 0 1rem;
}

.input {
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #c5c5c5;
  border-right-width: 0;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  &:focus {
    outline: none;
    border-color: #2948ff;
    box-shadow: 0 0 2px inset #2948ff;
  }

  &::placeholder {
    color: #bbb;
  }

  &:focus::placeholder {
    color: #ccc;
  }

  @media (max-width: 576px) {
    display: block;
    width: 100%;
    text-align: center;
    border-right-width: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-width: 0px;
  }
}

.add-btn {
  background: linear-gradient(to right, #396afc, #2948ff);
  border: 2px solid #2948ff;
  border-left-width: 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: 0 0 6px #343b62;
  }

  @media (max-width: 576px) {
    display: block;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
}

.search-results {
  text-align: center;
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
}

.no-results-error {
  border-color: #ffffb9;
  background: #ffffcf;
  color: #333;
}

.mask-check-error {
  border-color: #ffa6a6;
  box-shadow: 0 0 2px inset #ff5050;
  background: #ffc4c4;
  color: #853939;
}

.success-add {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}
